body {
    background: url("https://upload.wikimedia.org/wikipedia/commons/c/cb/The_Blue_Marble_%28remastered%29.jpg");
}
h1 {
    font-size: 64pt;
}
h3 {
    font-size: 32pt;
}
a {
    text-decoration: none;
}
p {
    margin: 5px;
}
header {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 1);
    color: rgba(255, 255, 255, 1);
    width: 15%;
}
.header-select {
    width: 15%;
    background: rgba(0, 0, 0, 1);
    color: rgba(255, 255, 255, 1);
    padding: 10px;
}
.header-select:hover {
    background: rgba(100, 100, 100, 1);
    color: rgba(0, 0, 0, 1);
    cursor: pointer;
}
.body-wrapper-first {
    width: 75%;
    margin-left: 25%;
    padding: 20px;
    border-radius: 15px;
    background: rgba(255, 255, 255, 1);
    color: rgba(0, 0, 0, 1);
}
